REACT_APP_BASEURL=http://localhost:5000/api
REACT_APP_SUPABASE_URL=https://your-project.supabase.co
REACT_APP_SUPABASE_ANON_KEY=your-anon-key-here

NEXT_PUBLIC_SUPABASE_URL=https://rjemwupliasjjhyfzuix.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_roJ2HSszyQg30w43cr1cSg_Tt8s8lIi